---
// Component Imports
import "atropos/css"
// import { Image } from "@astrojs/image/components"
import Card from "../components/Card.svelte"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const entries = [
  {
    imagePath: "/images/react-useless-hooks.png",
    title: "React Useless Hooks",
    description: "Monorepo for react hooks, mostly useless btw",
    webUrl: "https://react-useless.vercel.app",
    githubUrl: "https://github.com/narze/react-useless",
  },
  {
    imagePath: "/images/coffee-to-code.jpg",
    title: "Coffee to Code",
    description: "Developers converting coffee to code in many ways possible.",
    // webUrl: "",
    githubUrl: "https://github.com/narze/coffee-to-code",
  },
  {
    // imagePath: "/images/react-useless-hooks.png",
    title: "Torpleng - ต่อเพลง",
    description: "การต่อเพลงไทยที่ยาวที่สุดในประวัติศาสตร์",
    webUrl: "https://narze.github.io/torpleng",
    githubUrl: "https://github.com/narze/torpleng",
  },
  {
    // imagePath: "/images/react-useless-hooks.png",
    title: "Nunmun - นั่นมัน....!",
    description: "การต่อมุกที่ยาวที่สุดในประวัติศาสตร์!",
    webUrl: "https://nunmun.vercel.app",
    githubUrl: "https://github.com/narze/nunmun",
  },
  {
    // imagePath: "/images/react-useless-hooks.png",
    title: "Awesome Cheab Quotes - คำคมเฉียบ ๆ",
    description: "รวบรวมคำคม ที่ใครได้ฟังก็ต้องบอกว่า เฉียบบบบบ",
    webUrl: "https://cheab.vercel.app",
    githubUrl: "https://github.com/narze/awesome-cheab-quotes",
  },
  {
    // imagePath: "/images/react-useless-hooks.png",
    title: "Dumb Questions - คำถามโง่ ๆ",
    description:
      "Random questions as an excuse to ask her/him out, some considered dumb so use them carefully",
    // webUrl: "",
    githubUrl: "https://github.com/narze/dumb-questions-th",
  },
  {
    imagePath: "/images/watasalim.png",
    title: "Watasalim",
    description: "รวบรวมวาทกรรมสลิ่มสุดเจ๋ง",
    webUrl: "https://watasalim.vercel.app",
    githubUrl: "https://github.com/narze/awesome-salim-quotes",
  },
  {
    // imagePath: "/images/watasalim.png",
    title: "Deploydeemai.today",
    description: "Deploy ดีไหม?",
    webUrl: "https://deploydeemai.today",
    githubUrl: "https://github.com/narze/deploydeemai.today",
  },
  {
    title: "",
    description: "ดูโปรเจคอื่นๆ ได้ที่ GitHub",
    webUrl: "https://github.com/narze",
  },
  {
    title: "",
    description: "คุยกันได้ที่ Discord",
    webUrl: "https://discord.narze.live",
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hacktober</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-start">
      <h1 class="text-4xl my-8 font-bold text-center text-primary">
        Hacktober
      </h1>

      <p class="text-lg text-secondary">My hacktoberfest-friendly projects</p>

      <div class="container flex flex-wrap mt-8 gap-8 justify-center">
        {entries.map((item) => <Card client:load {...item} />)}
      </div>
      <!-- <Button>Tailwind Button in Astro!</Button> -->
      <!-- <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a> -->
    </div>
  </body>
</html>
