---
// Component Imports
import "atropos/css";
import "../style/root.css";
// import { Image } from "@astrojs/image/components"
import Card from "../components/Card.svelte";
import { EntriesModule } from "../types/entry.interface";

const entries = await Astro.glob<EntriesModule>('../entries/*.ts')

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hacktoberfest Museum</title>
  </head>

  <body>
    <div
      class="grid grid-cols-12 grid-flow-col gap-x-5 gap-y-8 md:px-32 py-8 justify-evenly h-[95vh]"
    >
      <div class="hidden xl:block grid-start-1">
        <img class="w-max" src="/assets/image-1.png" />
      </div>
      <div
        class="col-span-12 xl:col-span-9 grid-start-2 overflow-scroll scroll-smooth content-between"
      >
        <div
          class="grid grid-cols-9 grid-flow-row justify-between gap-x-5 gap-y-8 w-full p-12"
        >
          {
            entries.map((item) => (
              <div class="col-span-9 col-start-auto lg:col-span-4 xl:col-span-4">
                <Card client:load {...item.default} />
              </div>
            ))
          }
        </div>
      </div>
      <div class="col-span-2 h-full hidden xl:block">
        <div class="grid grid-cols-1 grid-flow-row content-end h-full">
          <div class="col-span-1">
            <img class="w-full h-full" src="/assets/image-3.png" />
          </div>
          <div class="col-span-1">
            <img class="w-full h-full" src="/assets/image-2.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
