---
// Component Imports
import "atropos/css"
// import { Image } from "@astrojs/image/components"
import Card from "../components/Card.svelte"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const entries = [
  {
    imagePath: "/images/watasalim.png",
    title: "Watasalim",
    description: "รวบรวมวาทกรรมสลิ่มสุดเจ๋ง",
    webUrl: "https://watasalim.vercel.app",
    githubUrl: "https://github.com/narze/awesome-salim-quotes",
  },
  {
    imagePath: "/images/react-useless-hooks.png",
    title: "React Useless Hooks",
    description: "Monorepo for react hooks, mostly useless btw",
    webUrl: "https://react-useless.vercel.app",
    githubUrl: "https://github.com/narze/react-useless",
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hacktober</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-start">
      <h1 class="text-4xl my-8 font-bold text-center">Hacktober</h1>

      <div class="container flex flex-wrap mt-8 gap-8 justify-center">
        {entries.map((item) => <Card client:load {...item} />)}
      </div>
      <!-- <Button>Tailwind Button in Astro!</Button> -->
      <!-- <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a> -->
    </div>
  </body>
</html>
